parameters:
    fos_rest.converter.request_body.class: Draw\DrawBundle\Request\RequestBodyParamConverter
    fos_rest.view_response_listener.class: Draw\DrawBundle\EventListener\ViewResponseListener
    draw.serializer.group_hierarchy: {}
    draw.serializer.groups_always_present: [all]
    draw.serializer.self_link.entities_routes: {}

services:
    draw.request_deserializer:
        alias: fos_rest.converter.request_body

    jms_serializer.object_constructor:
        alias: jms_serializer.doctrine_object_constructor
        public: false

    draw.doctrine.validation_entity_subscriber:
        class: Draw\DrawBundle\Validator\ValidationEntitySubscriber
        arguments: [@service_container]
        tags:
            - { name: doctrine.event_subscriber }

    draw.security.voter.own_voter:
        class: Draw\DrawBundle\Security\Voter\OwnVoter
        tags:
            - { name: security.voter }

    draw.serializer.group_hierarchy:
        class: Draw\DrawBundle\Serializer\GroupHierarchy
        arguments: [%draw.serializer.group_hierarchy%, %draw.serializer.groups_always_present%]

    draw.serializer.self_link:
        class: Draw\DrawBundle\Serializer\SelfLinkEventListener
        arguments: [@service_container, %draw.serializer.self_link.entities_routes%]
        tags:
            - { name: jms_serializer.event_listener, format: json, direction: serialization, event: serializer.post_serialize, method: onPostSerialize  }